*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #E13620;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .6s;
    text-decoration: none;

}
header #toggle{
position: relative;
width: 30px;
height: 30px;
cursor:pointer;
}
header #toggle::before{
    content: '';
    position:absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #E13620;
}
header #toggle::after{
    content: '';
    position:absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #E13620;
}
.banner.active header #toggle::before{
top: 50%;
left: 50%;
transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active header #toggle::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    }
.banner{
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    background: url(./images/pexels-asad-photo-maldives-13262090.jpg);
    background-size: cover;
    display: flex;

    align-items: center;
    transition: .5s;
    z-index: 2;
}
.banner.active{
    transform: translate(-400px);
}
#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background-color: #000;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: .5s;
}
#navigation.active{
    right: 0;
}
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;

}
#navigation ul li a{
    color: #E13620;
    text-decoration: none;
    display:inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    
}
.content{
    max-width: 600px;
}
.content h2{
    color: #E13620;
    font-size: 2.5em;
}
.content h2 span{
    color: black ;
    font-size: 1.2em;
}
.content p{
    color: #E13620;
    font-size: 1.2em;
    font-weight: 300;
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #E13620;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
.sci{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;

}
.sci li{
    list-style: none;

}
.sci li a{
     position: relative;
     display: grid;
     place-items: center;
     padding-top: 50px;
     text-decoration: none;
     color: #000;
     
}
.sci li a:hover{
    color: #E13620;
}
@media (max-width:767px) {
    header{
        padding: 20px 50px;
    }
    .banner{
        padding: 100px 50px 150px;
    }
    .banner h2{
        font-size: 1.8em;

    }

    
    .banner p{
        font-size: 1em;
    }
    .banner.active{
        transform: translate(-250px);
    }
    #navigation{
        width: 250px;
    }
    #navigation ul li a{
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci{
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }

    .sci li a {
        margin: initial;
        margin-right: 10px;
    }
}